
/* layout generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-width: 500px;
}
/* /layout generale */

/* struttura body */


/* regole di testing */


/* regole generali*/
/* float rules */
.clearfix::after {
  content: '';
  display: inline-table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
/* width rules */

.width-90 {
  width: 90%;
  margin: 0 auto;
}

.width-80 {
  width: 80%;
  margin: 0 auto;
}

/* padding rules e margin rules*/
.mgt-3 {
  margin-top: 3%;
}

.mgt-8 {
  margin-top: 8%;
}
/* position rules */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/* btns */
a.blue-btn {
  background-color: #0061FF;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.1em 1em;
}

/* sfondi */
.blue-section {
  background-color: #B4D0E7;
}

/* font weight */
.pbold {
  font-weight: bold;
}
/* /regole generali */

/* regole */
/* header navbar  */
nav.header-navbar {
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
ul.left-ul li,
ul.right-ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 2em;
}

ul.left-ul li > a,
ul.right-ul li > a {
  text-decoration: none;
  color: black;
}

img .logo-header {
  vertical-align: middle;
}

ul.left-ul {
  margin-left: 2em;
}

ul.right-ul {
  margin-right: 2em;
}

/* main */
/* prima sezione */
.first-section {
  height: 85vh;
  margin-top: 3.5em;
}

.first-section-title {
  text-align: left;
  font-size: 5.1em;
  padding-top: 7%;
}
.first-section-text {
  display: inline-block;
  line-height: 2em;
  width: 50%;
  padding-right: 30%;
}

div.arrow-first-section {
  margin-top: 20%;
}
div.arrow-first-section > a {
  text-decoration: none;
  color: black;
  font-size: 4em;
}

.second-section {
  height: 75vh;
}
  