
/* layout generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}
/* /layout generale */

/* struttura body */

body {
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

/* regole di testing */
header {
  background-color: aliceblue
}

/* regole generali*/
/* float rules */
.clearfix::after {
  content: '';
  display: inline-table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
/* width rules */
.width-90 {
  width: 90%;
  margin: 0 auto;
}

.width-80 {
  width: 80%;
  margin: 0 auto;
}
/* position rules */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

a.small-blue-btn {
  background-color: #3B85FF;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.1em 1em;
}
/* /regole generali */

/* regole */
/* header navbar  */
nav.header-navbar {
  padding: 1em;
}
ul.left-ul li,
ul.right-ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 2em;
}

ul.left-ul li > a,
ul.right-ul li > a {
  text-decoration: none;
  color: black;
}

img .logo-header {
  vertical-align: middle;
}

ul.left-ul {
  margin-left: 2em;
}

ul.right-ul {
  margin-right: 2em;
}