
/* layout generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-width: 500px;
}
/* /layout generale */


/* regole generali*/
/* float rules */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
/* width rules */

.width-90 {
  width: 90%;
  margin: 0 auto;
}

.width-80 {
  width: 80%;
  margin: 0 auto;
}

.width-70 {
  width: 70%;
  margin: 0 auto;
}

/* padding rules e margin rules*/

.mgt-8 {
  margin-top: 8%;
}

.mgt-7 {
  margin-top: 7%;
}

.mgt-3 {
  margin-top: 3%;
}
/* position rules */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/* btns */
a.blue-btn {
  background-color: #0061FF;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.1em 1em;
}

a.blue-btn-bigger {
  background-color: #0061FF;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 3em;
}

/* sfondi */
.blue-section {
  background-color: #B4D0E7;
}

/* font weight */
.pbold {
  font-weight: bold;
}

/* li rules */
li {
  list-style-type: none;
}
/* /regole generali */

/* regole */
/* header navbar  */
nav.header-navbar {
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}
ul.left-ul li,
ul.right-ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 2em;
}

ul.left-ul li > a,
ul.right-ul li > a {
  text-decoration: none;
  color: black;
}

img .logo-header {
  vertical-align: middle;
}

ul.left-ul {
  margin-left: 2em;
}

ul.right-ul {
  margin-right: 2em;
}

/* main */
/* prima sezione */
.first-section {
  margin-top: 3.5em;
}

.first-section-title {
  text-align: left;
  font-size: 5.1em;
  padding-top: 7%;
}

/* jumbotron text first sec */
.first-section-text {
  display: inline-block;
  line-height: 2em;
  width: 40%;
  padding-right: 15%;
  padding-bottom: 6%;
}

div.arrow-first-section {
  margin-top: 15%;
}
div.arrow-first-section > a {
  text-decoration: none;
  color: black;
  font-size: 4em;
}
/* jumbotron img first sec */
div.jumbotron {
  width: 60%;
  position: absolute;
  right: 2em;
  top: 4em;
}
.jumbo-img {
  width: 90%;
}

/* second section */
.second-section {
  padding-top: 15em;
  
}

.second-title {
  font-size: 2em;
  font-weight: bolder;
  /* padding-left: 15%; */
}

div.fake-check ul {
  margin-top: 3%;
}

div.fake-check ul > li {
  display: inline-block;
}

#fake-check-element {
  margin-left: 1em;
}

/* columns second section */
div.second-column {
  margin: 0 5em;
}
div.float-column-clear {
  margin-top: 3%;
}

div.float-column-clear > div {
  width: calc(100% / 3 - 4em);
}

/* buy plan column */
div.buy-plan {
  text-align: center;
  border: 1px solid lightgray;
  padding: 0.6em 0;
}

span.icon-man {
  padding: 0 0.5em;
}

/* buy plan infos column */
div.buy-plan-infos {
  border: 1px solid lightgray;
  border-top: none;
  padding: 10% 10%;
  height: 1000px;
}

.infos-title {
  font-weight: bolder;
  font-size: 2.5em;
}

.infos-price {
  font-size: 1.5em;
  margin-top: 5%;
}

.infos-payment-method {
  color:gray;
  margin-top: 5%;
  font-size: 0.8em;
}

/* details plan */
div.plan-details {
  margin-top: 15%;
}

.generic-link {
  color: #0061FF;
}

ul.plan-details-list li {
  padding: 5% 0;
  font-size: 0.8em;
}

#small-row {
  color: gray;
  width: 20%;
  margin: 5% 0 10% 0;
}

ul.plan-conclusion-list li {
  padding: 5% 0;
  font-size: 0.8em;
}

.second-title-column {
  font-weight: bolder;
  font-size: 1.5em;
}

span.icon-man-snd {
  padding: 0 0.5em;
  color: #0061FF;
  font-size: 1.5em;
}

/* contact selling center */
.contact-selling-team {
  margin-top: 3%;
  border: 1px solid lightgray;
}
.title-contact-team {
  text-align: center;
  padding: 0.8em 0;
  border-bottom: 1px solid lightgray;
}

.spacing-multiple-elements {
  margin: 1em 1em;
}

.smallest-element {
  margin: 2em 1.5em;
  font-size: 1em;
}
/* .container {
  height: 500px;
} */

div.container-float-left-side {
  width: 75%;
}

div.container-float-right-side{
  width: 25%;
} 

/* third section */
.img-second-section {
  width: 60%;
}

#partner-img {
  width: 100%;
}

.content-second-section {
  width: 40%;
}



.third-section {
  margin-top: 10em;
}