
/* layout general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-width: 500px;
}
/* /layout general */


/* general rules */
/* float rules */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
/* width rules */

.width-90 {
  width: 90%;
  margin: 0 auto;
}

.width-80 {
  width: 80%;
  margin: 0 auto;
}

.width-70 {
  width: 70%;
  margin: 0 auto;
}

.width-45 {
  width: 45%;
  margin: 0 auto;
}
/* padding rules e margin rules*/
.mgt-8 {
  margin-top: 8%;
}

.mgt-7 {
  margin-top: 7%;
}

.mgt-3 {
  margin-top: 3%;
}
/* position rules */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/* btns */
a.blue-btn {
  background-color: #0061FF;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.1em 1em;
}

a.blue-btn-bigger {
  background-color: #0061FF;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 2em;
}

a.white-btn {
  background-color: white;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0.4em 1.2em;
  border: 1px solid black;
}

a.white-btn-xborder {
  background-color: white;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 4.2em;
}

/* backgrounds */
.blue-section {
  background-color: #B4D0E7;
}

/* font weight */
.pbold {
  font-weight: bold;
}

/* li rules */
li {
  list-style-type: none;
}
/* /general rules */

/* hoover navbar and footer */
ul.left-ul:hover li,
ul.right-ul:hover li {
  border-bottom: 2px solid yellow;
  padding-bottom: 4%;
}

.link-footer:hover  {
  text-decoration: underline;
}

/* rules */
/* header navbar  */
nav.header-navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  z-index: 10;
  background-color: white;
}
ul.left-ul li,
ul.right-ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 2em;
}

ul.left-ul li > a,
ul.right-ul li > a {
  text-decoration: none;
  color: black;
}

img .logo-header {
  vertical-align: middle;
}

ul.left-ul {
  margin-left: 2em;
}

ul.right-ul {
  margin-right: 2em;
}



/* main */
/* first section */
.first-section {
  margin-top: 3.5em;
}

.first-section-title {
  text-align: left;
  font-size: 5.1em;
  padding-top: 7%;
}

/* jumbotron text first sec */
.first-section-text {
  display: inline-block;
  line-height: 2em;
  width: 40%;
  padding-right: 15%;
  padding-bottom: 6%;
}

div.arrow-first-section {
  margin-top: 15%;
}
div.arrow-first-section > a {
  text-decoration: none;
  color: black;
  font-size: 4em;
}
/* jumbotron img first sec */
div.jumbotron {
  width: 60%;
  position: absolute;
  right: 2em;
  top: 4em;
}
.jumbo-img {
  width: 90%;
}

/* second section */
.second-section {
  padding-top: 15em;
}

.second-title {
  font-size: 2em;
  font-weight: bolder;
}

div.fake-check ul {
  margin-top: 3%;
}

div.fake-check ul > li {
  display: inline-block;
}

#fake-check-element {
  margin-left: 1em;
}

/* columns second section */
div.second-column {
  margin: 0 6em;
}
div.float-column-clear {
  margin-top: 3%;
}

div.float-column-clear > div {
  width: calc(100% / 3 - 4em);
}

/* buy plan column */
div.buy-plan {
  text-align: center;
  border: 1px solid lightgray;
  padding: 0.6em 0;
}

span.icon-man {
  padding: 0 0.5em;
}

/* buy plan infos column */
div.buy-plan-infos {
  border: 1px solid lightgray;
  border-top: none;
  padding: 10% 10%;
  min-height: 1011px;
  max-height: 100%;
}

.infos-title {
  font-weight: bolder;
  font-size: 2.5em;
}

.infos-price {
  font-size: 1.5em;
  margin-top: 5%;
}

.infos-payment-method {
  color:gray;
  margin-top: 5%;
  font-size: 0.8em;
}

/* details plan */
div.plan-details {
  margin-top: 15%;
}

.generic-link {
  color: #0061FF;
}

ul.plan-details-list li {
  padding: 5% 0;
  font-size: 0.8em;
}

.small-row {
  color: gray;
  width: 20%;
  margin: 5% 0 10% 0;
}

ul.plan-conclusion-list li {
  padding: 5% 0;
  font-size: 0.8em;
}


.second-title-column {
  font-weight: bolder;
  font-size: 1.5em;
}

span.icon-man-snd {
  padding: 0 0.5em;
  color: #0061FF;
  font-size: 1.5em;
}

/* contact selling center */
.contact-selling-team {
  margin-top: 3%;
  border: 1px solid lightgray;
}
.title-contact-team {
  text-align: center;
  padding: 0.8em 0;
  border-bottom: 1px solid lightgray;
}

.spacing-multiple-elements {
  margin: 1em 1em;
}

.smallest-element {
  margin: 2em 1.5em;
  font-size: 1em;
}

div.container-float-left-side {
  width: 75%;
}

div.container-float-right-side{
  width: 25%;
} 

/* third section */
.img-third-section {
  width: 60%;
}

#partner-img {
  width: 100%;
}

.content-third-section {
  width: 40%;
  padding: 5% 0 0 5%;
}

.third-section {
  margin-top: 10em;
}

div.content-third-section h2 {
  font-size: 2em;
}

div.content-third-section p {
  line-height: 2em;
  margin-top: 2em;
}

div.content-third-section a {
  margin-top: 1.5em;
}

/* fourth section */
.fourth-section {
  margin-top: 10em;
}

div.content-fourth-section h2 {
  font-size: 3em;
}

/* float columns fourth section */
.container-float-columns {
  margin-top: 7%;
}
.first-column-left,
.third-column-left {
  width: calc(100% / 3 - 6%);
}

.second-column-left {
  width: calc(100% / 3 - 6%);
  margin: 0 6%;
}

div.container-float-columns img {
  width: 100%;
}

div.container-float-columns h3 {
  font-weight: bolder;
  font-size: 1.5em;
}

div.container-float-columns p {
  margin-top: 10%;
  line-height: 1.5em;
}

span.underline {
  text-decoration: none;
}

/* fifth section */

.fifth-section {
  margin-top: 10%;
}

div.fifth-section-start-text {
  display: block;
  padding-right: 20%;
}

div.fifth-section-start-text h2 {
  font-size: 3em;
  font-weight: bolder;
}

div.fifth-section-start-text p {
  margin: 3em 0;
}

p.generic-link a {
  text-decoration: underline;
  color: #0061FF;
}

/* logos with varius colors layout */
.left-side-container,
.right-side-container {
  width: calc(100% / 2);
  height: 100%;
  position: relative;
}

img.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  
}

/* logos background */
#designit-logo {
  background-color: #A2d39b;
  border: 10px solid #d0e9cd;
}

#asu-logo {
  background-color: #61082b;
}

#hearst-logo {
  background-color: #B4d0e7;
}

#bicycle-logo {
  background-color: #d5001f;
}

#uf-logo {
  background-color: #0093ce;
}

#topps-logo {
  background-color: #ff1c1c;
}

#channel-clear-logo {
  background-color: #ffd830;
}

#lonely-logo {
  background-color: #0d2481;
}

/* column fifth section */
div.float-container {
  height: 500px;
}

/* layout colonne */
.first-column-left {
  width: 25%;
  height: 50%;
  
}

.middle-column {
  width: 50%;
  background-color: #f5f5f5;
  padding: 2.5em 2.5em;
  height: 100%;
}

.right-column {
  width: 25%;
  height: 50%;
  background-color: blue;
}
/* /layout colonne */

/* text middle column*/
.designit-logo-text {
  width: 15%;
}

.last-hr {
  width: 15%;
  margin: 5% 0 10% 0;
}

.writer-credits {
  margin: 5% 0 10% 0;
}

/* footer column fifth section */
div.light-blue {
  background-color: #B4d0e7;
}

.width-50 {
  width: 50%;
}

div.generic-box h2 a {
  font-size: 2em;
  font-weight: bolder;
  text-decoration: none;
}

div.generic-box {
  padding: 28% 0;
  text-align: center;
}

div.generic-box h2 {
  text-align: left;
}


/* footer fifth section */
div.footer-fifth-section {
  padding: 10% 2%;
}

h3.fifth-footer-title {
  font-size: 2em;
  font-weight: bolder;
}

li.border-bottom {
  border-bottom: 1px solid gray;
  padding:5% 0;
}

.width-10 {
  width: 10%;
}

div.arrow-container {
  font-size: 1.3em;
  text-align: center;
}

p.text-footer-fifth-section {
  font-weight: bolder;
}

/* footer */
footer {
  background-color: black;
  color: white;
}

.footer-container {
  text-align: center;
  padding: 5% 0;
}

div.ul-column.float-left {
  width: calc(100% / 5);
}

div.ul-column.float-left h3 {
  font-size: 1.7em;
  font-weight: bolder;
  padding-bottom: 7%;
}

div.ul-column.float-left ul {
  text-align: left;
}

div.ul-column.float-left li a {
  text-decoration: none;
  color: white;
}

div.ul-column.float-left li {
  line-height: 2em;
  font-size: 0.8em;
}

/* last logo */
.last-logo {
  font-size: 0.8em;
  color: lightgray;
  border-top: 1px solid gray;
  display: inline-block;
  padding: 4em 1em 5em 0;
}

.language-footer {
  padding-left: 0.5em;
}

