
/* layout generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}
/* layout generale */

/* struttura body */
body {
  max-width: 1200px;
  margin: 0 auto;
  /* test */
  background-color: red;
}

